<div class="container" th:fragment="content">
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<form action="#" method="post" th:object="${user}" th:action="@{/connexion-form}">
		Adresse email : <input type="email" th:field="*{login}" /><br />
		Mot de passe : <input type="password" th:field="*{password}" /><br />
		Se souvenir de moi : <input type="checkbox" th:field="*{remember}" />
		<input type="submit" value="Submit" />
	</form>
	
	<br/>
	<br/>
	<br/>
	
	<label th:text="${message}"></label>
</div>