<link rel="stylesheet/less" type="text/css" media="screen" th:href="@{/css/jquery.dynatable.css}"  th:fragment="css" />

<div id="pageListeContacts" class="container main_content" th:fragment="content">
	
	<div class="alert alert-succes" role="alert" th:if="${retour} == 'motdepasse-modifie'">Votre mot de passe a bien été modifié !</div>

	<h2>Liste de vos contacts :</h2>
	<p class="instructions">Consultez et gérez tous vos contacts.</p>
	
	<p id="lienAjouter"><a th:href="@{'/modifier-contact/0'}" title="Ajouter un contact"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter un contact</a></p>
	
	<div id="listeContacts" class="media-list">
		<div class="media col-xs-12 col-sm-4 col-md-4 col-lg-4" th:each="c,stat :${contacts}">
			<div class="media-left">
				<img th:if="${d.datatype} == 'PHOTO'" th:src="@{'/imgs/avatar/'+${c.idcontactEncrypt}+'/'+${d.valeur}}" th:each="d :${contacts[__${stat.index}__].donnees}" />
			</div>	
		</div>			
	</div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.dynatable.js}" th:fragment="javascript"></script>
<script th:fragment="javascript">
	jQuery(document).ready(function() {
		
		$('.media-left').each(function() {
		    if ($(this).find('img').length == 0) {
		    	$('<img th:src="@{/imgs/default-avatar.png}" title="Photo de profil" />').appendTo(this);
		    }
		});
		
		$('#listeContacts').dynatable({
			table: {
				bodyRowSelector: 'div.media'
			},
		    dataset: {
		        noSearch: ['excluded', 'columns'],
		        perPageDefault: 3,
		        perPageOptions: [3, 6]
		    }
		});
	});
</script>