<link rel="stylesheet/less" type="text/css" media="screen" th:href="@{/css/jquery.dynatable.css}"  th:fragment="css" />

<div id="pageListeContacts" class="container main_content" th:fragment="content">
	
	<div class="alert alert-succes" role="alert" th:if="${retour} == 'motdepasse-modifie'">Votre mot de passe a bien été modifié !</div>

	<h2>Liste de vos contacts :</h2>
	<p class="instructions">Consultez et gérez tous vos contacts.</p>
	
	<p id="lienAjouter"><a th:href="@{'/modifier-contact/0'}" title="Ajouter un contact"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter un contact</a></p>
	
	<div id="listeContacts">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputSearch" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Recherche</label>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">	
					<input type="text" id="inputSearch" class="form-control fuzzy-search" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Tri</label>
				<div id="boutonsTri" class="btn-group col-xs-12 col-sm-6 col-md-6 col-lg-6" role="group" ></div>
			</div>
		</form>
		<div class="list">
			<div class="contact col-xs-12 col-sm-4 col-md-4 col-lg-4" th:each="c,stat :${contacts}">
				<div class="avatar">
					<img th:if="${d.datatype} == 'PHOTO'" th:src="@{'/imgs/avatar/'+${c.idcontactEncrypt}+'/'+${d.valeur}}" th:each="d :${contacts[__${stat.index}__].donnees}" />
				</div>
				<span class="invisible" th:if="${d.accueil}" th:text="${d.libellechamp}" th:each="d :${contacts[__${stat.index}__].donnees}"></span>
				<p th:class="'info'+${d.idchamp}" th:if="${d.accueil}" th:text="${d.valeur}" th:each="d :${contacts[__${stat.index}__].donnees}"></p>
				<div class="boutons_mod_sup">
					<a th:href="@{'/modifier-contact/'+${c.idcontactEncrypt}}" title="Modifier le contact">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					<a th:href="@{'/supprimer-contact/'+${c.idcontactEncrypt}}" title="Supprimer le contact">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/List.min.js}" th:fragment="javascript"></script>
<script th:fragment="javascript">

	jQuery(document).ready(function() {
		
		// Ajout de la photo de profil par défaut
		$('.avatar').each(function() {
		    if ($(this).find('img').length == 0) {
		    	$('<img th:src="@{/imgs/default-avatar.png}" title="Photo de profil" />').appendTo(this);
		    }
		});
		
		// Récupération des classes pour le filtre
		var classes = new Array();
		$(".contact").first().children("p").each(function(){
			classes.push($(this).attr("class"));
		});
		
		var libelles = new Array();
		$(".contact").first().children("span.invisible").each(function(){
			libelles.push($(this).text());
		});
		
		// Récupération des libellés pour le tri
		$.each(libelles, function(index, value) {
			$("#boutonsTri").append('<button type="button" class="sort btn btn-default" data-sort="' + classes[index] + '">' + value + '</button>');
		});
		
		options = { valueNames : classes };
		var contactsList = new List('listeContacts', options);
	});
</script>