<link rel="stylesheet/less" type="text/css" media="screen" th:href="@{/css/jquery.dynatable.css}"  th:fragment="css" />

<div id="pageListeContacts" class="container main_content" th:fragment="content">
	
	<div class="alert alert-succes" role="alert" th:if="${retour} == 'motdepasse-modifie'">Votre mot de passe a bien été modifié !</div>

	<h2>Liste de vos contacts :</h2>
	<p class="instructions">Consultez et gérez tous vos contacts.</p>
	
	<div class="table-responsive">
		<table id="listeContacts" class="table table-striped">
			<thead>
				<tr th:if="${templates.size()==1}">
					<th:block th:each="c,stat : ${templates[0].champs}">
						<th th:if="${c.accueil}" th:text="${c.libelle}"></th>
					</th:block>
					<th data-dynatable-no-search="true">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c,stat :${contacts}">
					<td th:if="${d.accueil}" th:text="${d.valeur}" th:each="d :${contacts[__${stat.index}__].donnees}">
					</td>
					<td>
						<a th:href="@{'/modifier-contact/'+${c.idcontact}}" title="Modifier le contact">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<a th:href="@{'/supprimer-contact/'+${c.idcontact}}" title="Supprimer le contact">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.dynatable.js}" th:fragment="javascript"></script>
<script th:fragment="javascript">
	jQuery(document).ready(function() {
		$('#listeContacts').dynatable({
		    dataset: {
		        noSearch: ['excluded', 'columns']
		    }
		});
	});
</script>