<div class="container" th:fragment="content">

	<br /> <br /> <br /> <br /> <br />

	<h2>Fiche d'un contact</h2>

	<br /> <br />
	
	<form action="#" method="post" th:action="@{/enregistrer-contact}" th:object="${template}">
		 
		 <input type="text" th:value="${idcontact}" name="idcontact"/>
		
		<br/>
		<table>
			<th:block th:each="c, stat :*{champs}">
				<tr>
					<td th:text="${c.libelle}"></td>
					<td><input type="text" th:field="*{champs[__${stat.index}__].donnee.valeur}"/></td>
					<td><input type="hidden" th:field="*{champs[__${stat.index}__].idchamp}"/></td>
					<td><input type="hidden" th:field="*{champs[__${stat.index}__].iddatatype}"/></td>
					<td><input type="hidden" th:field="*{champs[__${stat.index}__].libelle}"/></td>
					<td><input type="hidden" th:field="*{champs[__${stat.index}__].multivaleur}"/></td>
				</tr>
			</th:block>
		</table>
	<br/><br/>
	
		<input type="submit" value="Enregistrer"/>
	</form>
</div>