<div class="container" th:fragment="content">
	<br /><br /><br />
	<form action="#" method="post" th:object="${user}" th:action="@{/inscription-form}">
		Adresse email : <input type="email" th:field="*{login}" /><br /><br />
		Mot de passe : <input type="password" th:field="*{password}" /><br /><br />
		Confirmation du mot de passe : <input type="password" th:field="*{confirm_password}" /><br /><br /><br />
		<input type="submit" value="Inscription" /><br /><br /><br /><br /><br /><br />		
	</form>
	
</div>