<div class="container main_content" th:fragment="content">

	<h2>Modification du contact</h2>
	<p class="instructions">Pour modifier les informations du contact, remplissez le formulaire ci-dessous :</p>

	<form class="form-horizontal" th:action="@{/enregistrer-contact}" method="post" th:object="${template}">
	
		<input type="hidden" th:value="${idcontact}" name="idcontact" />
		
		<div th:each="c, stat :*{champs}">
			
			<input type="hidden" th:field="*{champs[__${stat.index}__].idchamp}"/>
			<input type="hidden" th:field="*{champs[__${stat.index}__].libelle}" />
			<input type="hidden" th:field="*{champs[__${stat.index}__].multivaleur}" />
		
			<!-- Champ email -->
			<div class="form-group" th:if="*{champs[__${stat.index}__].datatype.libelle} == 'EMAIL'">
	  			<label th:for="${'input'+c.idchamp}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label" th:text="${c.libelle}"></label>
	  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	  				<div class="input-group">
	  					<span class="input-group-addon">@</span>
	  					<input type="email" class="form-control" th:id="${'input'+c.idchamp}" placeholder="Adresse email" th:field="*{champs[__${stat.index}__].donnee.valeur}" />
	  				</div>
	  			</div>
	  		</div>
	  			
	  		<!-- Champ date -->
	  		<div class="form-group" th:if="*{champs[__${stat.index}__].datatype.libelle} == 'DATE'">
	   			<label th:for="${'input'+c.idchamp}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label" th:text="${c.libelle}"></label>
	  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	  				<input type="date" class="form-control" th:id="${'input'+c.idchamp}" placeholder="aaaa-mm-jj" th:field="*{champs[__${stat.index}__].donnee.valeur}" />
	  			</div>
	  		</div>
	  		
	  		<!-- Combo -->
	  		<div class="form-group" th:if="*{champs[__${stat.index}__].preselectionsize} gt 0">
	  			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label" th:text="${c.libelle}"></label>
	  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			  		<select class="form-control" th:field="*{champs[__${stat.index}__].donnee.valeur}">
			  			<option th:each="d : *{champs[__${stat.index}__].preselection}" th:value="${d}" th:text="${d}" />
		  			</select>
	  			</div>
	  		</div>
	  		
	  		<div th:if="*{champs[__${stat.index}__].preselectionsize} == 0">
	  		
		  		<div class="form-group" th:if="*{champs[__${stat.index}__].datatype.libelle} == 'TEXTE' or *{champs[__${stat.index}__].datatype.libelle} == 'ENTIER' or *{champs[__${stat.index}__].datatype.libelle} == 'DECIMAL'">
		   			<label th:for="${'input'+c.idchamp}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label" th:text="${c.libelle}"></label>
		  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		  				<input th:if="*{champs[__${stat.index}__].datatype.regex} != ''" type="text" class="form-control" th:id="${'input'+c.idchamp}" th:pattern="*{champs[__${stat.index}__].datatype.regex}" th:field="*{champs[__${stat.index}__].donnee.valeur}" />
		  				<input th:if="*{champs[__${stat.index}__].datatype.regex} == ''" type="text" class="form-control" th:id="${'input'+c.idchamp}" th:field="*{champs[__${stat.index}__].donnee.valeur}" />
		  			</div>
		  		</div>
	  		</div>
  		</div>
		<div class="form-group">
			<div class="col-xs-offset-12 col-xs-12 col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 col-lg-offset-4 col-lg-6">
      			<button type="submit" class="btn btn-default">Modifier</button>
    		</div>
  		</div>
  		
  		<input type="hidden" th:value="${idcontact}" name="idcontact" />
	</form>
</div>