<div id="pageModificationEmail" class="container main_content" th:fragment="content">

	<div class="alert alert-danger" role="alert" th:if="${retour} == 'erreur-compte-existant'">Un compte utilisant cette adresse email existe déjà !</div>

	<h1>Modification de l'adresse email</h1>
	<p class="instructions">Pour modifier votre adresse email, remplissez le formulaire suivant :</p>

	<form class="form-horizontal" th:action="@{/modifier-email}" method="post" th:object="${userForm}">
  		
  		<div class="form-group">
  			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Adresse email actuelle</label>
  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
  				<div class="input-group">
  					<p id="emailActuel" th:text="${user.login}" ></p>
  				</div>
  			</div>
  		</div>
  		<div class="form-group">
  			<label for="inputEmail" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Nouvelle adresse email</label>
  			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
  				<div class="input-group">
  					<span class="input-group-addon">@</span>
  					<input type="email" class="form-control" id="inputEmail" placeholder="Adresse email" th:field="*{login}" th:required="required" />
  				</div>
  			</div>
  		</div>
 		<div class="form-group">
			<div class="col-xs-offset-4 col-xs-6 col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 col-lg-offset-4 col-lg-6">
      			<button type="submit" class="btn btn-default">Envoyer</button>
    		</div>
  		</div>	
	</form>
</div>